
:root {
  --background: #ffffff;
  --foreground: #171717;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.page {
  position: fixed;
  width: 100%;
  min-height: 100dvh;
  overflow: hidden;


  .bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #4FACFE;
    
    &.day {
      background: #87ceeb;
    }
    &.night {
      background: #101823;

      .cloud, .city {
        filter: brightness(0.35);
      }


    }
    
    .cloud {
      position: absolute;
      width: 100%;

      .cl {
        display: block;
        background: #ffffff;
        position: absolute;
        filter: blur(30);


        &.c1 {
          width: 300px;
          height: 200px;
        }
        &.c2 {
          top: 150px;
          left:0;
          width: 300px;
          height: 200px;
          border-radius: 50%;
        }
        &.c3 {
          left: 200px;
          top: 0;
          width: 15dvw;
          height: 10dvw;
          border-radius: 50%;
        }
      }
      
      
      svg {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      
    }

    .city {
      width: 100%;
      height: 60dvh;
      background: url('./../public/111.webp');
      background-size: 80% auto;
      background-position: bottom center;
      position: absolute;
      background-repeat: repeat-x;
      bottom: 0;
      left: 0;
    }

    .obj {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      height: 40dvh;

      .moon {
        position: absolute;
        width: 100px;
        height: 100px;
        background: #fbffbd;
        right: 10%;
        top: 25%;
        border-radius: 50%;
        filter: blur(6);
        box-shadow: 0 0 6px #FFF;
      }

      .star {
        position: absolute;
        user-select: none;
        width: 6px;
        height: 6px;
        filter: blur(2.5);
        background: #FFF;
        border-radius: 50%;
        box-shadow: 0 0 10px #FFF;

        &::before {
          content: '';
          display: block;
          position: absolute;
          left: 40px;
          top: 40px;
          user-select: none;
          width: 6px;
          height: 6px;
          filter: blur(2.5);
          background: #FFF;
          border-radius: 50%;
          box-shadow: 0 0 10px #FFF;
        }
        &::after {
          content: '';
          display: block;
          position: absolute;
          left: -140px;
          top: -80px;
          user-select: none;
          width: 6px;
          height: 6px;
          filter: blur(2.5);
          background: #FFF;
          border-radius: 50%;
          box-shadow: 0 0 10px #FFF;
        }

        &.s1 {
          top: 40%;
          left: 50%;
        }
        &.s2 {
          bottom: 0;  
          left: 80%;
          transform: rotate(-20deg);
        }
        &.s3 {
          top: 40%;
          right: 20%;
          transform: rotate(100deg);
        }
      }
    }

    .rain {
      position: absolute;
      width: 100%;
      height: 100%;
      background: url('./../public/rain.png');
      background-size: 600px auto;
      opacity: 0.2;
      animation: rain 2.5s linear 0s infinite;
    }
  }

  .exp {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: #FFF;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 6px #0000003a;
    min-width:  260px;
    .location {
      font-size: 28px;
      font-weight: 700;
    }


    .status {
      margin-top: 15px; 
      display: flex;
      flex-direction: column;
      gap: 5px;

      .item {
        display: flex;
        align-items: center;

        gap: 15px;
        font-size: 20px;

        .key {
          font-weight: 700;
        }
        .value {

          .weatherSpan {
            font-weight: 700;
            &.high {
              color: #0e9e0e;
            }
            &.mid {
              color: #224d8d;
            }
            &.bad {
              color: #e40000;
            }
          }
        }
      }
    }
  }
}

@keyframes rain {
  0% {
    background-position: 0 -800%;
  }
  100% {
    background-position: 0 0;
  }
}